<nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
    <a class="navbar-brand" routerLink="/">OShop </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/cart" routerLinkActive="active">
            Shopping Cart
            <span *ngIf="cart$ | async as cart" class="badge badge-warning badge-pill">{{ cart.itemsCount }}</span>
          </a>
        </li>
        <ng-template #anonymousUser>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Login<span class="sr-only">(current)</span></a>
          </li>
        </ng-template>
        <li *ngIf="appUser$ | async as appUser; else anonymousUser" ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ appUser.name }}
            </a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a ngbDropdownItem class="dropdown-item" routerLink="/my/orders">My Orders</a>
              <ng-container *ngIf="appUser.isAdmin">
                <a ngbDropdownItem class="dropdown-item" routerLink="/admin/orders">Manage Orders</a>
                <a ngbDropdownItem class="dropdown-item" routerLink="/admin/products">Manage Products</a>
              </ng-container>
              <a ngbDropdownItem class="dropdown-item" (click)="logout()">Logout</a>
            </div>
         </li>
      </ul>
    </div>
  </nav>