<div class="sticky-top">
  <div class="card">
    <ul class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">All Categories</a>
      <a class="list-group-item list-group-item-action" *ngFor="let category of categories$ | async"
         routerLink="/" [queryParams]="{ category: category.key }"
         routerLinkActive="active" >{{ category.name }}</a>
    </ul>
  </div>
</div>
