<div class="row">

    <div class="col-md-3">
      <products-filter></products-filter>
    </div>
  
    <div class="col-md">
      <div class="row">
        <ng-container *ngFor="let product of products$ | async; let i = index">
          <div class="col">
            <product-card [product]="product" [cart]="cart"></product-card>
          </div>
          <div *ngIf="(i+1) % 2 === 0" class="w-100"></div>
        </ng-container>
      </div>
      <div *ngIf="(products$ | async)?.length === 0" class="alert alert-info" role="alert">
        No Products Found!
      </div>
    </div>
  
  </div>